$light: #cbc0a9;
$normal: #9b948a;
$dark: #6b6c73;
$darker: #4e494a;

.game{
    width: 380px;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background: $light;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;

        .score{
            display: flex;
            align-items: center;
            margin-right: 1em;

            .coin{
                width: 24px;
                height: 32px;
                position: relative;
                border: 2px solid $darker;
                border-radius: 40%;
                margin-right: 10px;
                box-shadow: inset -5px 0 0 0 $normal;

                &:after{
                    content: '';
                    position: absolute;
                    display: block;
                    height: 80%;
                    width: 80%;
                    border: 2px solid;
                    border-color: transparent transparent transparent $normal;
                    border-radius: inherit;
                    left: 2px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .points{
                height: 15px;
                line-height: 20px;
            }
        }
        .game-controls{
            display: flex;
            align-items: center;
            
            &-button{
                height: 56px;
                width: 56px;
                position: relative;
                background: $light;
                border: 2px dashed $normal;
                padding: 0;
                box-shadow: inset 0 0 0 0 $normal;
                transition: .1s;
                margin-right: 1em;
                &:last-child{
                    margin-right: 0;
                }
                &:active{
                    border-style: solid;
                    box-shadow: inset 0 3px 0 0 $normal;
                    .game-controls-button-text{
                        transform: translate(-50%, -40%);
                    }
                }
                &-text{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 20px;
                    height: 20px;
                    transition: .2s;
                    transform: translate(-50%, -50%);
                }
            }

            .restart{
                &:active{
                    .game-controls-button-text{
                        transform: translate(-50%, -40%) rotate(-360deg);
                    }
                }
                .game-controls-button-text{
                    width: 75%;
                    height: 75%;
                    background-image: url('../../img/restart.svg');
                    background-size:  cover;
                    transition: .5s;
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }

            .play-pause{
                .game-controls-button-text:before,
                .game-controls-button-text:after{
                    content: '';
                    display: block;
                    width: 40%;
                    height: 100%;
                    background: $darker;
                    border-radius: 20%;
                }
                &.paused .game-controls-button-text:before{content: none;}
                &.paused .game-controls-button-text:after{
                    width: 0;
                    height: 0;
                    background: transparent;
                    border-style: solid;
                    border-width: 12px 0 12px 20px;
                    border-color: transparent transparent transparent $darker;
                    border-radius: 0;
                }
            }
        }
    }

    .mid{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        margin-bottom: 2em;
        
        .screen{
            display: block;
            line-height: 1;
            background: $normal;
        }
    }

    .bot{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
        margin-bottom: 2em;
    
        .controls{
            &-direction{
                &-row{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &-button{
                    width: 56px;
                    height: 52px;
                    position: relative;
                    padding: 0;
                    border: 2px solid $darker;
                    border-radius: 4px;
                    background: $light;
                    margin-bottom: -6px;
                    box-shadow: 0 6px 2px 0 $normal;
                    transition: .1s;
                    &:active,
                    &.active{
                        transform: translateY( 3px );
                        box-shadow: 0 3px 2px 0 $normal;
                    }
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 6px;
                        background: $dark;
                        transition: .1s;
                    }
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        border: 10px solid $darker;
                        border-color: transparent transparent $darker transparent;
                        transform: translate(-50%, -50%);
                    }
                    &--top{
                        &:before{ transform: translate(-50%, -90%) rotate(0deg); }
                    }
                    &--left{
                        &:before{ transform: translate(-75%, -65%) rotate(270deg); }
                    }
                    &--down{
                        &:before{ transform: translate(-50%, -25%) rotate(180deg); }
                    }
                    &--right{
                        &:before{ transform: translate(-10%, -65%) rotate(90deg); }
                    }
                }
            }
        }
    }
}
